[Desktop Entry]
Type=Application
Exec=polybar main
Hidden=false
X-MATE-Autostart-enabled=true
X-Mate-Autostart-Delay=5
Name[en_US]=Polybar
Name=Polybar
Comment[en_US]=
Comment=
